@font-face {
    font-family: "Space_Mono_Regular";
    src: local("Space_Mono"),
        url("../../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: normal;
}


.card-author {
    display: inline;
    font-family: "Space_Mono_Regular";
    font-size: 1.16rem;
    // width: 50px;
    strong {
        color: #9c00b2;
    }
}
