@font-face {
    font-family: "Space_Mono";
    src: local("Space_Mono"),
        url("../../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

.card-circle {
    border-radius: 50%;
    background: linear-gradient(180deg, #fd741b 0%, #9801af 100%);
    height: 50px;
    bottom: 25px;
    right: 10px;
    position: relative;
    width: 50px;

}

.card-number {
    color: white;
    font-family: 'Space_Mono';
    font-size: 1.8rem;
    font-weight: bold;
    left: 16px;
    top: 3px;
    position: relative;
}