@font-face {
    font-family: "Space_Mono";
    src: local("Space_Mono"),
        url("../../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

.card-circle {

    background: linear-gradient(180deg, #fd741b 0%, #9801af 100%);
    border-radius: 50%;
    height: 66px;
    left: -13px;
    position: absolute;
    top: -33px;
    transition: ease all .3s;
    width: 66px;

}

.card-number {
    color: white;
    font-family: 'Space_Mono';
    font-size: 2.45rem;
    font-weight: bold;
    left: 22px;
    top: 4px;
    position: relative;
}

@media (min-width: 1200px) {
    .card-circle {
        left: -145px;
        top: 0px;
    }
}
