.card-image {
    top: 40px;
    height: 141px;
    position: relative;
    right: 20px;

    width: 141px;
}

.image-container {
    position: static;

}

@media (min-width: 900px) {
    .card-image {
        height: 193px;
        width: 193px;
        right: 42px;
    }
}