.header-triangle {
    background-size: 50px 30px;
    opacity: .7;
    position:absolute;
    right: -130px;
    size: 200px;
    top: 53px;
    z-index: 1;
}

@media (min-width: 1000px) {
    .header-triangle {
        right: -140px;
        top: 0px;
    }
}

@media (max-width: 385px) {
    .header-triangle {
        top: 90px;
    }
}