.mainHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .1rem;
    justify-content: center;
    min-height: 100px;
  }

.header-container {
  background-color: #43105c;
}