@font-face {
    font-family: "Space_Mono";
    src: local("Space_Mono"),
        url("../../fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Work_Sans";
    src: local("Work_Sans"),
        url("../../fonts/Work_Sans/WorkSans-Regular.ttf") format("truetype");
    font-weight: normal;    
}
@font-face {
    font-family: "Space_Mono_Regular";
    src: local("Space_Mono"),
        url("../../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: bold;
}


.title {
    font-size: 3.5rem;
    margin-right: .25rem;
    margin-top: -12px;
    margin-bottom: -12px;
    z-index: 3;

}
.title-bold {
    background: linear-gradient(90deg, #fd741b 0%, #9801af 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Space_Mono';
    font-size: 3.5rem;
    font-weight:bolder;
    letter-spacing: .15rem;
}


.title-clean {
    font-family: 'Space_Mono_Regular';
    color: white;
    font-weight: normal;
    letter-spacing: .1rem;
}


@media (max-width: 390px) {
    .title-bold {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}



